{% extends 'layout.html' %}

{% block title %}
Book detail Page
{% endblock %}

{% block content %}

    <div class="row details-header">
        <div class="col">
            <img src="http://covers.openlibrary.org/b/isbn/{{bookInfo[0][0]}}-M.jpg" width="250px" height="300px">
        </div>
        <div class="col book-details">
            <h4 class="det-content"> <span class="span-login"> {{bookInfo[0][1]}} </span> </h4>
            <h5> Isbn Number: <b> {{bookInfo[0][0]}} </b></h5>
            <h5> Author Name: <b> {{bookInfo[0][2]}} </b></h5>
            <h5> Published Year: <b> {{bookInfo[0][3]}} </b></h5>
        </div>
        <div class="col book-details">
            <h4 class="det-content"> <span class="span-login"> Goodreads Reviews </span> </h4>
            <h5> Review Count: <b> {{bookInfo[1]['books'][0]['reviews_count']}} </b></h5>
            <h5>Average rating: <b> {{bookInfo[1]['books'][0]['average_rating']}} </b></h5>
        </div>
    </div>

    <form method="POST">
        <div class="form-group">
            <label for="exampleFormControlInput1">Comment</label>
            <input type="text" name="review_desc" class="form-control" id="exampleFormControlInput1" placeholder="Please enter comments">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1" name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group col-sm">
            <button class="btn btn-dark" type="submit">Submit</button>
        </div>
    </form>

    {% for review in reviews %}
        <section class="book-comment">
            <div class="row">
                <div class="col-sm-6">
                    <h4>{{review[0]}}</h4>
                </div>
                <div class="col-sm-6">
                    <p>{{review[3]}}</p>
                </div>
            </div>
            <h5>Review: {{review[1]}} </h5>
            <h6>Rating: {{review[2]}} </h6>
        </div>
    {% endfor %}

{% endblock %}